@import "tailwindcss";

@layer base {
  :root {
    background-color: white;
    color: #111827; /* gray-900 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #111827; /* gray-900 */
      color: white;
    }
  }
}

/* Ensure vue-sonner toasts are on top */
[data-sonner-toaster] {
  z-index: 10000 !important;
}
